.header {
    height: 90vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative;

    &__text-box {
        position: absolute;
        top: 38%;
        left: 10%;
        transform: translate(-10%, -38%);
        @media only screen and (max-width: 720px) {
            padding-left: 3rem;
        }
    }
}
