.contact-wrapper{
    width: 85%;
    margin: auto;
}
.contact{
    position: relative;

    &__form{
        width: 50%;
        height: 100%;
        background-color: rgba($color-green, .8);
        padding: 2rem 4rem 4rem 4rem;
    }

    h2{
        color: $color-white;
    }
}