@mixin twoColorGradientText($gradient-first-color, $gradient-second-color){
    background: -webkit-linear-gradient($gradient-first-color, $gradient-second-color);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin clearfix{
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

@mixin backgroundCar(){
    background-image: linear-gradient(
            to right bottom, 
            rgba($color-green, .8),
            rgba($color-blue, .8)
        ), url(../../img/home/services/velar.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}