.engine-specs {
    .specs {
        padding: 3.2rem;

        @include responsiveness(pixelToEm(650)) {
            padding: 0;
        }
        &__group {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 0 9.6rem;
            @include responsiveness(pixelToEm(1100)) {
                grid-template-columns: 100%;
            }

            @include responsiveness(pixelToEm(900)) {
                padding: 0 4.6rem;
            }

            @include responsiveness(pixelToEm(750)) {
                padding: 0 1.6rem;
            }

            @include responsiveness(pixelToEm(650)) {
                padding: 0;
            }

            &--left {
                display: grid;
                grid-template-columns: 50% 50%;
                padding: 6.4rem 0;

                &--left,
                &--right {
                    @include responsiveness(pixelToEm(1100)) {
                        padding-left: 8rem;
                    }

                    @include responsiveness(pixelToEm(750)) {
                        padding-left: 4rem;
                    }
                }

                @include responsiveness(pixelToEm(650)) {
                    grid-template-columns: 100%;
                    background-color: $color-black;
                    &--left,
                    &--right {
                        padding: 0;
                    }
                }

                @include responsiveness(pixelToEm(650)) {
                    padding: 9rem 3.69rem;
                }

                &--left,
                &--right {
                    h4,
                    p {
                        padding: 1rem;
                    }

                    h4 {
                        color: $color-soft-dark-gray;
                        font-size: 2.08rem;
                        @include responsiveness(pixelToEm(650)) {
                            color: $color-white;
                            font-size: 2.9rem;
                        }
                    }

                    p {
                        font-size: 1.6rem;
                        @include responsiveness(pixelToEm(650)) {
                            font-size: 2.3rem;
                        }
                    }

                    .spec-value {
                        margin-left: 0.48rem;
                    }
                }

                &--left {
                    &::after {
                        @include responsiveness(pixelToEm(650)) {
                            display: block;
                            content: "";
                            border-bottom: 1px solid $color-white;
                            margin: 4rem 0;
                        }
                    }
                }
            }

            &--right {
                padding: 3.68rem;
                font-size: $default-font-size;
                background: $color-light-gray;
                opacity: 0.9;
                transition: all 0.3s;

                @include responsiveness(pixelToEm(650)) {
                    background: $color-white;
                }

                &:hover {
                    background: rgb(254, 253, 253);
                    box-shadow: 0 0.4rem 1rem rgba($color-black, 0.18);
                    cursor: pointer;
                    opacity: 1;
                }
                .engine {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    @include responsiveness(pixelToEm(650)) {
                        grid-template-columns: 100%;
                    }

                    &--left {
                        h3 {
                            font-size: 2.8rem;
                            padding: 0.48rem;
                            @include responsiveness(pixelToEm(600)) {
                                font-size: 4.2rem;
                            }
                        }
                    }

                    p {
                        padding: 0.48rem;
                        @include responsiveness(pixelToEm(600)) {
                            font-size: 2.3rem;
                        }
                    }

                    .engine-spec-title {
                        display: inline-block;
                        padding: 0.64rem 0;
                    }

                    .engine-spec-value {
                        color: $color-soft-dark-gray;
                    }

                    i {
                        font-size: 1.76rem;
                        margin-left: 0.48rem;
                    }

                    &--right {
                        background: $color-soft-green;
                        color: $color-white;
                        @include responsiveness(pixelToEm(650)) {
                            margin-top: 7rem;
                        }
                    }
                }
            }
        }
    }
}
