.form {
    width: 85%;
    margin: auto;

    @include responsiveness(pixelToEm(900)) {
        width: 100%;
    }

    @include responsiveness(pixelToEm(900)) {
        width: 100%;
    }

    &__group:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__input {
        font-size: $default-font-size;
        display: block;
        width: 100%;
        border: none;
        padding: 1.5rem 2rem;
        font-family: inherit;
        color: $color-green;
        border-radius: $border-radius-small;
        border-bottom: 3px solid transparent;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-green;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-red;
        }
    }

    &__label {
        color: $color-white;
        font-size: 1.2rem;
        display: inline-block;
        margin: 0.7rem 0 0 2rem;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        transform: translateY(-4.5rem);
        visibility: hidden;
    }

    &__checkbox {
        &-input {
            display: none;
            opacity: 0;

            &:checked ~ .form__checkbox-label .form__checkbox {
                background-color: $color-green-light;
            }
        }

        &-label {
            color: $color-white;
            font-size: 1.6rem;

            .form__checkbox {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                background-color: $color-light-red;
                margin-right: 1.4rem;
                border-radius: 50%;
                transform: translateY(1rem);
                transition: all 0.3s;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}
