$color-white: #fff;
$color-black: #000;
$color-gray: #646d77;
$color-soft-gray: #88878A;
$color-soft-dark-gray: #63686C;

$color-green:#8DE6A2;
$color-green-light:#47ff84;
$color-dark-green:#26835f;
$color-soft-green: #74C9A0;
$color-blue:#266f99;
$color-light-blue: #3368E8;
$color-red: #cf1717;
$color-light-red: #df4040;

$color-larchmere: #7bc5ae;
$color-observatory: #028c6a;

$color-racing-pink:#f39f86;
$color-racing-yellow:#f9d976;

$color-green-testimonial: #7ed56f;
$color-dark-green-testimonial: #28b485;

//font
$default-font-size: 1.6rem;

// grid
$grid-width: 116rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//border radius
$border-radius-small: 3px;

//car models
//-1 GT86
$color-car-1-light: #e1191c;
$color-car-1-dark: #d37f87;

//-2 Velar
$color-car-2-light: #f38b4b;
$color-car-2-dark: #8e4c18;

//-3 GLE
$color-car-3-light: #e1e2e6;
$color-car-3-dark: #77787b;

//-4 F8
$color-car-4-light: #e99c3a;
$color-car-4-dark: #d37f87;

//-5 M235i
$color-car-5-light: #292c35;
$color-car-5-dark: #6d728a;

//-6 Tacoma
$color-car-6-light: #aea194;
$color-car-6-dark: #9f8871;

//-7 Model 3
$color-car-7-light: #fcfdfc;
$color-car-7-dark: #96b7de;

//-8 330i
$color-car-8-light: #e4e4e7;
$color-car-8-dark: #4f5258;

//-9 Maserati
$color-car-9-light: #090907;
$color-car-9-dark: #0d1110;